APP_NAME=OpsBoard
APP_ENV=local
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:4200

POSTGRES_DB=opsboard
POSTGRES_USER=opsboard
POSTGRES_PASSWORD=opsboard
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=4200
